h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

.fontep {
    font-family: 'Montserrat', sans-serif;
}

.size-hab{
    font-size: 19px;
}

.color-letter{
    color: white;
}

#foto {
    border-radius: 50%;
}

#linkedin {
    background-color: #0661e9;
    padding: 10px 30px;
    border-radius: 8px;
    margin-right: 90%;
    border: 2px solid;
    text-align: center;
}

#github {
    background-color: rgb(27, 26, 26);
    padding: 10px 30px;
    border-radius: 8px;
    margin-right: 90%;
    border: 2px solid;
    text-align: center;
}